/*** 

====================================================================
    FAQ's Section
====================================================================

***/

.faq-section {
    position: relative;
    padding: 120px 0 70px;
    @include media-breakpoint-down(lg){
        padding: 120px 0 25px;
    }
    @include media-breakpoint-down(sm){
        padding: 90px 0 50px;
    }
    .bg-pattern-1 {
        background-image: url(../images/icons/pattern-1.png);
    }
    .shape-4 {
        position: absolute;
        bottom: -100px;
        left: 20px;
        width: 276px;
        height: 460px;
        background-image: url(../images/pattern/shape-4.png);
        @include media-breakpoint-down(xxl){
            opacity: .1;
        }
    }
    .shape-31 {
        position: absolute;
        top: 300px;
        right: 250px;
        width: 190px;
        height: 190px;
        background-image: url(../images/pattern/shape-31.png);
        @include media-breakpoint-down(xxl){
            right: 20px;
        }
        @include media-breakpoint-down(xl){
            opacity: .1;
        }
    }
    .bg {
        position: absolute;
        left: 0;
        top: 0;
        height: 547px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .icon-plane-4 {
        position: absolute;
        bottom: -140px;
        left: 20px;
    }
    .faq-column{
        margin-bottom: 50px;
        @include media-breakpoint-down(lg){
            margin-bottom: 80px;
        }
        @include media-breakpoint-down(lg){
            margin-bottom: 34px;
        }
        .inner-column {
            position: relative;
            padding: 57px 0;
            padding-left: 44px;
            @include media-breakpoint-down(xl){
                padding-left: 40px;
            }
            @include media-breakpoint-down(sm){
                padding: 0;
            }
            &:before {
                content: '';
                @include overlay;
                width: 315px;
                height: 100%;
                border-top: 5px solid #f0f0f0;
                border-bottom: 5px solid #f0f0f0;
                border-left: 5px solid #f0f0f0;
                @include media-breakpoint-down(sm){
                    display: none;
                }
            }
            .sec-title {
                .sub-title {
                    margin-bottom: 5px;
                }
                margin-bottom: 20px;
            }
        }
        .accordion-box{
            max-width: 487px;
        }
    }

    .image-column{
        margin-bottom: 50px;
        @include media-breakpoint-down(sm){
            margin-bottom: 0;
        }
        .inner-column {
            padding-top: 60px;
            padding-left: 160px;
            @include media-breakpoint-down(lg){
                padding: 0;
                text-align: center;
            }
            @include media-breakpoint-down(sm){
                margin-bottom: 40px;
            }
            .image-box {
                position: relative;
                .rating-box {
                    position: absolute;
                    top: 22px;
                    left: -130px;
                    width: 229px;
                    height: 100px;
                    border: 3px solid var(--theme-color1);
                    background-color: var(--theme-color-light);
                    text-align: center;
                    transform: translate(38px, 46px);
                    @include media-breakpoint-down(lg){
                        left: 100px;
                        top: 0;
                    }
                    @include media-breakpoint-down(md){
                        position: relative;
                        left: 0;
                        width: 100%;
                        transform: none;
                        margin-top: 70px;
                    }
                    .icon {
                        position: absolute;
                        width: 51px;
                        height: 51px;
                        line-height: 51px;
                        border-radius: 50%;
                        background: var(--theme-color1);
                        color: var(--theme-color-light);
                        font-size: 24px;
                        text-align: center;
                        transform: translate(-30px, -31px);
                    }
                    .rating{
                        padding-top: 18px;
                        li{
                            display: inline-block;
                            color: #f9b524;
                            font-size: 12px;
                            margin: 0 2px;
                        }
                    }
                    .reviews {
                        margin-bottom: 0;
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.accordion-box {
    position: relative;
    .block {
        background-color: var(--theme-color-light);
        border-bottom: 1px solid #e1e1e1;
        padding: 0;
        position: relative;
        .acc-btn {
            position: relative;
            font-size: 18px;
            line-height: 24px;
            color: var(--theme-color-dark);
            font-weight: 500;
            cursor: pointer;
            padding: 15px 0 15px 20px;
            transition: all 500ms ease;
            @include media-breakpoint-down(sm){
                padding: 15px 14px 15px 15px;
            }
            .icon{
                position: absolute;
                top: 15px;
                right: 15px;
                line-height: 28px;
                color: var(--theme-color1);
                font-size: 24px;
                @include transition(all 300ms ease);
            }
            .arrow {
                position: absolute;
                right: 15px;
                top: -1px;
                font-size: 14px;
                line-height: 56px;
                font-weight: 800;
                color: var(--theme-color-dark);
                text-align: center;
                @include transition(all 300ms ease);
            }
        }
        .acc-btn.active {
            color: var( --theme-color-light);
            .arrow {
                font-size: 14px;
                color: var(--theme-color-light);
                transform: rotate(0deg);
                &:before {
                    content: "\f063";
                }
            }
            .icon{
                top: 10px;
                transform: scale(-1) rotate(180deg);
            }
        }
        .acc-content {
            position: relative;
            display: none;
            .content {
                position: relative;
                padding: 20px;
                .text {
                    display: block;
                    margin-bottom: 0;
                    @include media-breakpoint-down(xl){
                        br {
                            display: none;
                        }
                    }
                }
            }
        }
        .acc-content.current {
            display: block;
        }
    }
    &.style-two{
        .block {
            position: relative;
            border: none;
            width: 100%;
            padding: 10px 10px 0 10px;
            margin-bottom: 12px;
            box-shadow: 0  0 43px rgba(0, 0, 0, 0.06);
            background-color: var(--theme-color-light);
            @include media-breakpoint-down(lg){
                padding: 7px 10px 10px;
            }
            .acc-btn {
                font-weight: 700;
                @include media-breakpoint-down(sm){
                    padding-left: 70px;
                }
            }
            .arrow {
                right: 4px;
            }
            .content {
                padding: 15px 20px;
                .text {
                    font-size: 16px;
                    line-height: 30px;
                    color: #7a7a7a;
                    @include media-breakpoint-down(lg){
                        line-height: 24px;
                        margin-top: 5px;
                    }
                }
            }
            .acc-btn.active {
                color: var(--theme-color1);
                .arrow,
                .icon {
                    color: var(--theme-color1);
                }
                .count {
                    background-color: var(--theme-color1);
                    color: var(--theme-color-light);
                }
            }
        }
        .count {
            position: absolute;
            top: 0;
            left: 0;
            width: 57px;
            height: 57px;
            line-height: 57px;
            color: #a6a6a6;
            background-color: #f2f3f6;
            text-align: center;
            @include media-breakpoint-down(sm){
                top: 5px;
            }
        }
    }
}



/*** 

====================================================================
    FAQ's Section Two
====================================================================

***/

.faq-section-two {
    position: relative;
    padding: 0;
    background-color: #E1E1E1;
    @include media-breakpoint-down(lg){
        padding: 90px 0 0;
    }

    &.style-two {
        @include media-breakpoint-down(lg){
            padding: 90px 0 90px;
        }
        .float-image {
            position: absolute;
            bottom: 0;
            right: 0px;
            pointer-events: none;
            @include media-breakpoint-down(xxl){
                display: none;
            }
        }
    }

    &.style-three {
        background-color: transparent;
        padding: 164px 0 120px;
        @include media-breakpoint-down(lg){
            padding: 90px 0;
        }
        .faq-column .inner-column {
            margin-left: 77px;
            @include media-breakpoint-down(xl){
                margin-left: 0;
            }
        }
        .accordion-box {
            @include media-breakpoint-down(sm){
                margin-right: 0;
            }
        }
        .theme-btn {
            margin-top: 50px;
        }
        .float-image {
            left: 63px;
            right: auto;
            bottom: -112px;
        }
    }
    .bg-image{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 364px;
        height: 740px;
        pointer-events: none;
        background-position: left;
        background-repeat: no-repeat;
        @include media-breakpoint-down(md){
            display: none;
        }
        &:before {
            content: '';
            @include overlay;
            width: 100%;
            height: 100%;
            background: linear-gradient(89.23deg, rgb(243 244 247) 3.09%, #f3f4f7e0 36.63%);
            @include media-breakpoint-down(sm){
                display: none;
            }
        }
    }

    .float-image {
        position: absolute;
        bottom: -85px;
        right: 20px;
        z-index: 1;
        @include media-breakpoint-down(xl){
            display: none;
        }
    }
    .sec-title {
        @include media-breakpoint-down(lg){
            margin-bottom: 30px;
        }
        .text {
            @include media-breakpoint-down(xl){
                br {
                    display: none;
                }
            }
        }
    }
    .faq-column {
        .inner-column {
            margin-left: 30px;
            @include media-breakpoint-down(lg){
                margin-left: 0;
                margin-bottom: 40px;
            }
        }
    }

    .accordion-box .block {
        background-color: transparent;
    }
    .accordion-box {
        margin-right: 40px;
    }

    .image-column {
        .inner-column {
            position: relative;
            .image-1 {
                padding-left: 90px;
                @include media-breakpoint-down(md){
                    padding-left: 0;
                }
                img {
                    width: 100%;
                }
            }
            .image-2 {
                position: absolute;
                left: 0;
                top: -54px;
                border: 10px solid #ffffff;
                @include media-breakpoint-down(lg){
                    top: 0;
                }
                @include media-breakpoint-down(md){
                    display: none;
                }
            }
        }
    }
}

/*** 

====================================================================
    FAQ's Section Six
====================================================================

***/
.faq-section-six {
    position: relative;
    padding: 120px 0 120px;
    @include media-breakpoint-down(lg){
        padding: 120px 0 90px;
    }
    .outer-box {
        background-color: var(--theme-color-light);
    }
    .bg-image {
        left: auto;
        right: 0;
        width: 76%;
        background-repeat: no-repeat;
        background-position: center bottom;
        z-index: -1;
        @include media-breakpoint-down(lg){
            display: none;
        }
    }
    .bg-pattern-1 {
        background-image: url(../images/icons/pattern-1.png);
    }
    .faq-column {
        .inner-column {
            margin-right: 70px;
            @include media-breakpoint-down(lg){
                margin-right: 0;
                margin-bottom: 50px;
            }
        }
    }
    .form-column {
        .inner-column {
            margin-right: 38px;
            @include media-breakpoint-down(lg){
                margin-right: 0;
            }
        }
    }
}